body{ 
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}

/* phones */
@media screen and (max-width: 600px) {
    header{
        padding: 2.5% 2.5% 1% 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid grey;
    }
    .header-logo p{
        color: #ffc850;
        font-weight: 600;
    }
    .header-logo{
        display: flex;
        flex-direction: row;
    }
    .logo{
        width: 35px;
        height: 35px;
    }

    /* search bar */
    .header-search{
        display: flex;
        flex-direction: row;
    }
    .search-bar{
        border-radius: 4px;
        border-color: #e2e2e2;
        max-height: 15px;
    }
    .search-button-icon{
        width: 20px;
        height: 20px;
    }
    .search-voice{
        width: 20px;
        height: 20px;
    }
    .search-voice:hover{
        cursor: pointer;
        background-color: #ebebeb;
        border-radius: 20px;
    }
    
    /* dropdown */
    .header-dropdown{
        width: min-content;
    }
    .dropdown-popup{
        display: none;
    }
    .dropdown-profile{
        width: 35px;
        height: 35px;
    }
    .dropdown-profile:hover{
        cursor: pointer;
    }

    .container{
        display: grid;
        grid-template-columns: 10% auto;
    }

    /* side-panel */
    .side-panel{
        display: flex;
        flex-direction: column;        
        width: 100%;
        height: 100vh;
        background-color: #ebebeb;
    }
    .channels{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .channels .channel-stats, .channel-name{
        display: none;
    }
    .channel-image{
        height: 30px;
        width: 30px;
    }
    .channel-item{
        margin-top: 5%;
    }
    .community-info{
        display: none;
    }

    /* main */
    .main{
        display: flex;
        flex-direction: column;
        padding: 2.5% 5%;
    }
    .filter-slider{
        overflow: auto;
        white-space: nowrap;
        max-width: 75vw;    
    }
    .filter-slider a{
        display: inline-block;
        background-color: #ebebeb;
        border-radius: 20px;
        color: #000;
        padding: 2%;
    }
}